@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

* {
  font-family: 'Pangolin', cursive;
}

div.fortune-div {
  padding-top: 5em;
  text-align: center;
}

body {
  background-color: #EEE1C9;
}

/*
#B49A67
*/